<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--数据库厂商标识-->
    <databaseIdProvider type="DB_VENDOR">
        <property name="MySQL" value="mysql_alias"/>
        <property name="MySQL" value="mysql"/>
    </databaseIdProvider>

    <mappers>
        <package name="com.lsh.demo.mapper"/>
    </mappers>

</configuration>